

<div class="newpicture">
<%= link_to("Login", "/pictures/new") %>
</div>


<div class="first">
  <a><%= link_to(image_tag(@last_photo.url, :size => "500x500"), "/pictures/#{@last_photo.id}") %></a>
  <p><%=@last_photo.title%> </p>
  <p><i><%=@last_photo.artist%></i></p>
</div>

<div class="recent">
  <h2>Recent </h2>
  <% @pictures_recent.each do |recent| %>
  <a><%= link_to(image_tag(recent.url), "/pictures/#{recent.id}") %></a>
  <% end %>
</div>


<div class="this_month">
  <h2>This month</h2>
  <% @month_old.each do |picture| %>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <% end %>
</div>


<div class="this_year">
  <h2>This Year</h2>
  <% @month_old.each do |picture| %>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <% end %>
</div>
