

<div class="first">
  <%= image_tag(@picture.url, :size => "500x500") %><br>
  <p><%=@picture.title%> </p>
  <p><i><%=@picture.artist%></i></p>
</div>

<div class="back_edit_delete">
  <p> <%= link_to("Back to Pictures", pictures_path) %>  | <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "Are you sure you want to delete this picture?"})  %> </p>
</div>
